header {
    text-align: center;
}
body {
    text-align: center;
    background-color:light gray;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
}
p {
    text-align: center;
}
ul {
    text-align: center;
    display:inline;
    display: table;
    margin:0 auto;
}   
footer {
    text-align: center;
}
